<section class="attempt">
  <div>
    <h1><%= @task.name %></h1>
    <%= simple_format(@task.description) %><br/>
  </div>

  <div>
    <h1>Code</h1>
    <%= render partial: "form", locals: { attempt: @attempt } %>
  </div>
</section>
